[submodule "kore"]
	path = kore
	url = git@github.com:stan1y/kore.git
[submodule "jansson"]
	path = jansson
	url = git@github.com:akheron/jansson.git
[submodule "libjwt"]
	path = libjwt
	url = git@github.com:benmcollins/libjwt.git
